<form action="/items" method="post">
  <label for="packageNumber">How many packages would you like to send? </label>
  <input id="packageNumber" name="packageNumber" type="number">

  <label for="length">Please enter the length of your package: </label>
  <input id="length" name="length" type="number">

  <label for="width">Please enter the width of your package: </label>
  <input id="width" name="width" type="number">

  <label for="height">Please enter the height of your package: </label>
  <input id="height" name="height" type="number">

  <label for="weight">Please enter the weight of your package: </label>
  <input id="weight" name="weight" type="number">
  
  <button type="submit">Submit</button>
</form>

  <a href="/items/checkout">Checkout</a> 